@import '~material-colors/dist/colors';

.dot {
    fill: $md-light-blue-500;
    stroke: none;
}

.mfd-plot{
	fill: none;
	stroke: $md-pink-500;
}

.super-mfd-plot{
  fill: none;
  stroke: $md-light-blue-500;
}
