@import '~material-colors/dist/colors';

.plot{
	fill: none;
	stroke-width: 1px;
	opacity: .6;
}

.plot.arrivals{
	stroke: $md-red-500;
}

.plot.exits{
	stroke: $md-light-blue-500;
}

.plot.prediction{
	stroke-width: 2px;
	opacity: .5;
}


.plot.va{
	stroke: $md-purple-500;
}